$border-color:#ccc;
$add-field-hover:#81a2be;
.table-field {
  .row-cell {
    position: relative;
    width: 100%;
    height: 3rem;
    border: 1px solid $border-color;
    border-top-color: transparent;
    padding: 0 var(--spacing-2);
    [dir=ltr] & {
      padding-right: 0;
      border-left-color: transparent;
    }
    [dir=rtl] & {
      padding-left: 0;
      border-right-color: transparent;
    }
  }
  button {
    &.disabled {
      pointer-events: none;
      opacity: .2;
    }
    [dir=rtl] & {
      .k-icon-angle-right,
      .k-icon-angle-left {
        transform: rotate(180deg);
      }
    }
  }
  .table-ctrl {
    display:flex;
    border-top:1px solid $border-color;
    border-bottom:1px solid $border-color;
    [dir=ltr] & {
      border-left:1px solid $border-color;
      padding-left:23px;
    }
    [dir=rtl] & {
      border-right:1px solid $border-color;
      padding-right:23px;
    }
    .row-cell {
      height: 1.5rem;
      border-bottom:0;
      &:first-child {
        [dir=ltr] & {
          border-left:1px solid $border-color;
        }
        [dir=rtl] & {
          border-right:1px solid $border-color;
        }
      }
      .centering {
        width:60px;
        margin:0 auto;
      }
    }
    .row-ctrl{
      height:1.5rem;
      border-bottom:0;
    }
  }
  .table-row {
    display:flex;
    .row-ctrl {
      padding:0.3rem 0.15rem;
      height:3rem;
      &.delete-row {
        button {
          padding-top:8px;
        }
      }
    }
  }
  .table-add-row {
    display:flex;
    .row-cell {
      border-width: 0px;
      .k-button {
        border-left:1px dashed $border-color;
        border-bottom:1px dashed $border-color;
        border-right:1px dashed $border-color;
        width: 100%;
        height:100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: transparent;
        transform: translate(-50%, -50%);
        transition: background-color .3s, border-color .3s;
        &:hover {
          background-color: $add-field-hover;
          border-color:transparent;
        }
      }
    }
  }
  .row-ctrl {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $border-color;
    border-top-color: transparent;
    [dir=ltr] & {
      border-left-color: transparent;   
    }
    [dir=rtl] & {
      border-right-color: transparent;   
    }
    [dir=ltr] & {
      &:first-child {
        border-left-color: $border-color;
        border-right-color: transparent;
      }
      + .row-cell {
        border-left-color: $border-color;
      }
      &.add-column {
        button {
          padding-left:3px;
        }
      }
    }
    [dir=rtl] & {
      &:first-child {
        border-right-color: $border-color;
        border-left-color: transparent;
      }
      + .row-cell {
        border-right-color: $border-color;
      }
      &.add-column {
        button {
          padding-right:3px;
        }
      }
    }
  }
}